<header>
<div class="gradient"></div>
<nav class="menu">
    <ul>
        <a href="selfie.html">
            <li {% if page.url == '/selfie.html' %} class="active"{% endif %}>Selfie-Stadttour</li>
        </a>
        <a href="bmw.html">
            <li {% if page.url == '/bmw.html' %} class="active"{% endif %}>BMW-Museum</li>
        </a>
        <a href="/bavaria.html">
            <li {% if page.url == '/bavaria.html' %} class="active"{% endif %}>Bavaria-Filmstudio</li>
        </a>
    </ul>
</nav>
</header>
