* {margin: 0; font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;}
body, html {overflow-x: hidden; max-width:100%;}
.main {width: 96%; margin: 0 auto;}
.content {
	margin: 5% auto;
	max-width: 800px;
	width: 100%;
}
h1 {text-decoration: underline;}
article {
	clear: both;
	height: 186px;
	padding: 3% 2%;
	img {
		width: 300px;
		height: auto;
		float: left;
		margin-right: 20px;
		-webkit-transition: width 0.2s ease-in;}
}
article:hover {cursor:pointer; background-color:#f8f8f8;}
article:not(:first-of-type){border-top: 1px solid lightgrey;}
@media (max-width: 800px) {
	article {
		height:auto;
		padding: 25px 0;
		img {width: 100%; height: auto; margin: 0 auto; float: none;}
	}
}
.a_full {height: auto; img {width: 100%; height:auto; margin: 0 auto; float:none;}}
.descr	{padding-left: 2%;}
