* {margin: 0; font-family: "Helvetica", "Arial", sans-serif;}
body, html {overflow-x: hidden; max-width:100%;}
/* Hauptteil */
.main {
	color: $brandblack;
	margin: 3% auto;
	max-width: 820px;
	width: 96%;
}
/* Artikel */
h1:not(.title) {text-decoration: underline; font-family: "Source Sans Pro";}
p {font-weight: light; line-height: 23px; margin-top: 10px;}
article {
	clear: both;
	height: 186px;
	padding: 1.5em;
	img {
		width: 300px;
		height: auto;
		float: left;
		margin-right: 20px;
		-webkit-transition: width 0.2s ease-in;
		-moz-transition: width 0.2s ease-in;
		-o-transition: width 0.2s ease-in;
		transition: width 0.2s ease-in;
	}
}
article:hover {cursor:pointer; background-color:rgba($brandblack, 0.05);}
article:not(:first-of-type){border-top: 1px solid lightgrey;}
@media (max-width: 800px) {
	article {
		height:auto;
		padding: 25px 0;
		img {width: 100%; height: auto; margin: 0 auto; float: none;}
	}
}
.a_full {height: auto; img {width: 100%; height:auto; margin: 0 auto; float:none;}}
.descr	{padding-left: 2%;}
